html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.header {
  font-family: Merriweather, serif;
  background-color: #d05c2e;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 40px;
  align-content: flex-end;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

nav {
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #a63f38;
}

nav li {
  padding: .5em 1.2em;
  border: 1px solid #a63f38;
}
