html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.header {
  font-family: Merriweather, serif;
  background-color: #d05c2e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

img {
  width: 40px;
  align-content: space-between;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

.header ul {
  list-style-type: none;
}

.header a {
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}
